# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
django
gunicorn
Pyrebase
spotipy >= 2.18
requests >= 2.25
jwt
