{% for k, v in results.items%}
<li style="
        color: black;
        font-family: Georgia, serif;
        font-size: 25px;
        text-align: left;
        position: relative;
        left: 990px;
        top: 390px;
    ">
    
    
    {{k}}<button type="button" onClick="$.ajax({
    type: 'GET',
    url: '/update_playlist/{{code}}/{{v}}/up/{{host}}',
    success: function() {
    }
})">+</button><button type="button" onClick="$.ajax({
    type: 'GET',
    url: '/update_playlist/{{code}}/{{v}}/down/{{host}}',
    success: function() {
    }
})">-</button></li>
{%endfor%}

<!-- <l1>testval</l1> -->
